sudo: false
language: php
php:
- '7.2'
- '7.3'
- '7.4'
- nightly
matrix:
  fast_finish: true
  allow_failures:
  - php: nightly
before_install:
- phpenv config-rm xdebug.ini || true
- "[[ $GITHUB_TOKEN ]] && composer config --global github-oauth.github.com $GITHUB_TOKEN"
install: composer install --no-interaction
script: phpdbg -qrr vendor/bin/phpunit
after_script: bash <(curl -s https://codecov.io/bash)
env:
  global:
    secure: XZTdncIGv0YtEsf7UJtqz9inyBLJ1bAsjHyWs0j8/pjMROsPsf8qn89vOKIuhWqFHhbMpSjyHoqcDAAQWz9l4N4zi2N34CePaXH1QlXvYK/dkKsPb0OCiSVqDUDFjimQE900HBRJUhiZ9K1WRZCDgcj0u9QJ1yW/UYK5KVanaI8=
cache:
  directories:
  - "$HOME/.composer/cache/files"
